@import url(./fonts/Starwars.css);

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    list-style: none;
}
body {
    background-image: url(./bg-star-wars.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Stjldbl2', sans-serif;
    color: #dbdbdb;
	text-align: center;
}

h1 {
    font-family: 'Starjedi';
    font-weight: 700;
    font-size: 70px;
	line-height: 50px;
    color: #9e821c;
    text-shadow: 2px 2px 4px #9e821c;
    letter-spacing: 4px;
    text-align: center;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

#films-list li {
    margin: 10px 0;
    padding: 16px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#films-list li:hover {
    background-color: rgba(252, 252, 252, 0.1);
}

#films-list li strong {
    font-size: 30px;
	font-family: 'Starjedi', sans-serif;
    letter-spacing: 1px;
    color: #9e821c;
}

#characters-list li {
    margin: 4px 0;
    padding: 4px;
    border-radius: 4px;
}

#characters-list li:hover {
	color:#dab439;
	filter: brightness(1.2);
}

.hidden {
    display: none;
}

.ltd {
    font-family: 'Starjout';
    font-weight: 700;
    font-size: 70px;
    color: #9e821c;
    text-align: center;
    cursor: pointer;
}
