@font-face {
    font-family: Starjout;
    font-display: swap;
    src: url('./Starjout.woff2') format('woff2'), url('./Starjout.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Starjedi;
    font-display: swap;
    src: url('./Starjedi.woff2') format('woff2'), url('./Starjedi.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Starjhol;
    font-display: swap;
    src: url('./Starjhol.woff2') format('woff2'), url('./Starjhol.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Stjldbl1';
    font-display: swap;
    src: url('./Stjldbl1.woff2') format('woff2'), url('./Stjldbl1.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
